@import "styles/theme.scss";

.userAvatar {
    position: absolute;
    z-index: 100;
    padding: 5px;
    margin-left: 10px;
    margin-bottom: 3em;

    img {
        width: 80px;
        height: 80px;
        object-fit: cover;
        border-radius: 50%;
        border: 5px solid $color2;
    }

    span {
        display: block;
        font-size: 12px;
        font-weight: bold;
        text-align: center;
    }
}

.peerAvatar {
    position: absolute;
    z-index: 100;
    padding: 5px;
    cursor: pointer;

    bottom: 192px;
    margin-left: -296px;

    img {
        width: 76px;
        height: 76px;
        object-fit: cover;
        border-radius: 50%;
        border: 5px solid $color2;
        transition: all 0.2s ease-in-out;

        &:hover {
            width: 80px;
            height: 80px;
            margin-bottom: -5px;
        }
    }

    span {
        display: block;
        font-size: 12px;
        text-align: center;
    }

    &:nth-of-type(2) {
        margin-left: -166px;
        bottom: 345px;
    }

    &:nth-of-type(3) {
        margin-left: 395px;
        bottom: 288px;
    }

    &:nth-of-type(4) {
        margin-left: 54px;
        bottom: 460px;
    }

    &:nth-of-type(5) {
        margin-left: -382px;
        bottom: 523px;
    }

    &:nth-of-type(6) {
        margin-left: -872px;
        bottom: 306px;
    }

    &:nth-of-type(7) {
        margin-left: 465px;
        bottom: 503px;
    }

    &:nth-of-type(8) {
        margin-left: 968px;
        bottom: 170px;
    }
}
