// colors
$background-color: #e7ebf1;
$primary-color: #5352ed;

$color0: #f8fafd;
$color1: #f1f5fc;
$color2: #c6d0eb;
$color3: #6b7dae;
$color4: #3f4d73;

$red: #d41919;
$gold: #fde510;
$green: #27ae60;
$blue: #2f80ed;
$dark-purple: #341f97;

// fonts
$heading-1: 40px;
$heading-2: 30px;
$heading-3: 24px;
$heading-4: 20px;

$meduim-text: 18px;
$body-text: 16px;
$small-text: 14px;
$smaller-text: 12px;
