@import "styles/theme.scss";

.downloadProgress {
    position: absolute;
    right: 0;
    margin: 15px 25px;
    border-radius: 5px;
    background-color: $color4;
    border: 1px solid $color4;
    overflow: hidden;

    .inner {
        padding: 10px 20px;
        color: $color1;

        p {
            margin: 0;
            font-weight: 600;
        }

        span {
            font-size: 14px;
        }
    }

    .progressBar {
        width: 100%;
        height: 10px;
        background-color: $color1;

        .innerProgress {
            background-color: $green;
            width: 100%;
            height: 100%;
        }
    }
}
