@import "styles/theme.scss";

.downloadProgress {
    position: absolute;
    right: 0;
    margin: 15px 25px;
    border-radius: 5px;
    background-color: $color4;
    border: 1px solid $color4;
    overflow: hidden;
    z-index: 100;

    .inner {
        padding: 10px 20px;
        color: $color1;
        font-size: 14px;

        p {
            margin: 0;

            span {
                font-weight: 600;
            }
        }

        & > span {
            font-size: 13px;

            & b {
                font-weight: 600;
            }
        }
    }

    .progressBar {
        width: 100%;
        height: 10px;
        background-color: $color1;

        .innerProgress {
            background-color: $green;
            height: 100%;
        }
    }
}
