@import "./theme.scss";

html,
body {
    padding: 0;
    margin: 0;
    font-family: "Source Sans Pro", sans-serif;
    color: $color4;
    background: $background-color;
    position: relative;
    line-height: 1.5;
    overflow-x: hidden;
    font-size: 16px;
    min-height: 100vh;
}

a {
    color: inherit;
}

* {
    box-sizing: border-box;
}
